body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    display: flex;
    font-size: 14px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

header{
    background-color:pink;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: white;
    margin: 0%;
}
  /*modificamos el search*/
.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 1rem;
	background-color: #fff;
	height: 1.5rem;
	overflow: hidden;
}


.search-form input {
	outline: none;
	font-family:'Times New Roman', Times, serif;
	border: none;
	width: 10rem;
	font-size: 1rem;
	padding: 0 1rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: pink;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 1rem;
	color: #fcf9f9;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
  
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
      
}

/*hover modificar nuestros link de inicio*/
nav ul li a:hover{
    text-decoration: underline;
    color: white;
  
}

.menu{
    display: flex;
    gap: 2rem;

}
.menu li{
    list-style: none;
}

.contenedor-productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
}
.contenedor-cajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    border-radius: 10px;
    max-width: 300px;
    max-height: 400px;
}
.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
    transition: all .5s;
}
.item figure{
    overflow: hidden;
}
item:hover img{
    transform: scale(2.5);

}
.info-product{
    padding: 15px 30px;
    line-height: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}
 
.info-product button{
  border: none;
  background: none;
  background-color:pink;
  color: white;  
  padding: 15px 10px;
  cursor: pointer;
    
}
footer {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: pink;
    color: #fff;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

footer h3{
    text-align: center;
}