.search-form input {
	outline: none;
	font-family:'Times New Roman', Times, serif;
	border: none;
	width: 10rem;
	font-size: 1rem;
	padding: 0 1rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}